<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" type="image/png" href="/img/logo.png">

    <title>{{title}}</title>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img src="/img/thanos.jpg" alt="User" class="image">
    </div>
    <p class="about">This site was created as a practice.
        This site gets the required data from the <a href="https://api.openweathermap.org">opeweathermap</a> and
        <a href="https://api.mapbox.com">mapbox</a>.
    </p>

    {{>footer}}
</body>


</html>